USE [Bytecom]
GO
/****** Object:  Table [dbo].[ITEMPEDIDOVENDA]    Script Date: 1/7/2021 9:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEMPEDIDOVENDA](
	[ID] [int] NOT NULL,
	[ID_PEDIDO_VENDA] [int] NULL,
	[ID_PRODUTO] [int] NULL,
	[DESCRICAO_PRODUTO] [varchar](128) NULL,
	[VALOR_CUSTO] [numeric](18, 2) NULL,
	[VALOR_VENDA] [numeric](18, 2) NULL,
	[QUANTIDADE] [int] NULL,
	[VALOR_TOTAL] [numeric](18, 2) NULL,
	[DATA_CADASTRO] [datetime] NULL,
	[DATA_ATUALIZACAO] [datetime] NULL,
 CONSTRAINT [PK_ITEMPEDIDOVENDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOVENDA]    Script Date: 1/7/2021 9:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOVENDA](
	[ID] [int] NOT NULL,
	[NUMERO] [int] NULL,
	[DATA_EMISSAO] [datetime] NULL,
	[ID_CLIENTE] [int] NULL,
	[VALOR_PRODUTO] [numeric](18, 2) NULL,
	[VALOR_DESCONTO] [numeric](18, 2) NULL,
	[VALOR_TOTAL] [numeric](18, 2) NULL,
	[OBSERVACAO] [varchar](999) NULL,
	[DATA_ATUALIZACAO] [datetime] NULL,
	[DATA_CADASTRO] [datetime] NULL,
	[VALOR_LIQUIDO] [numeric](18, 2) NULL,
 CONSTRAINT [PK_PEDIDOVENDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PESSOA]    Script Date: 1/7/2021 9:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PESSOA](
	[ID] [int] NOT NULL,
	[NOME] [varchar](128) NULL,
	[CPF_CNPJ] [varchar](18) NULL,
	[TELEFONE] [varchar](13) NULL,
	[CELULAR] [varchar](14) NULL,
	[ENDERECO] [varchar](128) NULL,
	[BAIRRO] [varchar](128) NULL,
	[COMPLEMENTO] [varchar](128) NULL,
	[CIDADE] [varchar](50) NULL,
	[CEP] [varchar](9) NULL,
	[DATA_CADASTRO] [datetime] NULL,
	[DATA_ATUALIZACAO] [datetime] NULL,
	[DATA_ULTIMA_VENDA] [datetime] NULL,
 CONSTRAINT [PK_PESSOA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 1/7/2021 9:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[ID] [int] NOT NULL,
	[NOME] [varchar](50) NULL,
	[CODIGO_BARRAS] [varchar](14) NULL,
	[DESCRICAO] [varchar](128) NULL,
	[VALOR_CUSTO] [numeric](18, 2) NULL,
	[VALOR_VENDA] [numeric](18, 2) NULL,
	[DATA_CADASTRO] [datetime] NULL,
	[DATA_ATUALIZACAO] [datetime] NULL,
	[DATA_ULTIMA_VENDA] [datetime] NULL,
 CONSTRAINT [PK_PRODUTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
